{% extends 'landingPage/base.html' %}
{% load static %}
{% block title %} Service Boss - Landing Page {% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'landingPage/css/main.css' %}">
<div class="section_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div>
                    <p class="section_1_badge">Find your perfect match!</p>
                    <p class="section_1_h1">Swipe Right To Fix Your Problems</p>
                    <p class="section_1_p">Find plumbers, heating technician, electrician repairer, carpenter, roofer,
                        gardeners and more on ServiceBoss</p>
                    <div>
                        <button type="button" class="btn btn1">Download App</button>
                        <button type="button" class="btn btn2">Invite Friend</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{% static 'landingPage/img/construction_workers.png' %}" class="img-fluid construction_img"
                    alt="construction worker">
            </div>
        </div>
    </div>
</div>
<div class="section_2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div>
                    <p class="section_2_p1">What's ServiceBoss?</p>
                    <p class="section_2_p2">Why Should You Use ServiceBoss?</p>
                    <p class="section_2_p3">ServiceBoss is a matching platform that connects people in need of services
                        around the home to providers of those services.</p>
                    <div class="mb-2">
                        <p class="outer">
                        <p class="inner"></p>
                        <p class="inner_p">Clients</p>
                        </p>
                        <p class="outer">
                        <p class="inner"></p>
                        <p class="inner_p">Freelancers</p>
                        </p>
                        <p class="outer">
                        <p class="inner"></p>
                        <p class="inner_p">Agencies</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row align-items-center">
                    <div class="col-md-6 ">
                        <video class="video" controls>
                            <source  src="{% static 'landingPage/img/3.mp4' %}"
                                type="video/mp4">
                            <source src="{% static 'landingPage/img/3.ogg' %}" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="col-md-6 ">
                        <div class="row ">
                            <div class="">
                                <img src="{% static 'landingPage/img/1.png' %}" class="img-fluid split" alt="worker one">
                            </div>
                            <div>
                                <img src="{% static 'landingPage/img/2.png' %}" class="img-fluid split" alt="worker two">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row r_ow1">
            <div class="col-md-4 col-xs-12">
                <div class="con2 shadow-lg mb-5 bg-body rounded ">
                    <p>
                        <i class="far fa-star"></i>
                        <span class="rating">Rating System</span>
                    </p>
                    <div class="lap_outer">
                        <div class="lap_inner">
                            <img src="{% static 'landingPage/img/4.png' %}" class="img-fluid img1" alt="worker">
                            <img src="{% static 'landingPage/img/5.png' %}" class="img-fluid img2" alt="worker">
                            <img src="{% static 'landingPage/img/6.png' %}" class="img-fluid img3" alt="worker">
                            <p class="img4"><span>+800%</span>Efficiency</p>
                        </div>
                    </div>
                    <p class="rating_text">
                        More than 2 billion we people over countries 
                        use socibooks we to stay in touch with friends.
                    </p>
                    <p class="the_link lilac">Read Rating Policies <i class="fas fa-arrow-right"></i></p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="con3 ">
                    <p>
                        <i class="fas fa-trophy lilac"></i>
                        <span class="rating"> Leaderboards</span>
                    </p>
                    <div class="">
                        <div class="p-0 leader_inner">
                            <img src="{% static 'landingPage/img/github_logo.png' %}" class="img-fluid github_logo" alt="worker">
                            <span class="">Rewards for Awesomeness</span>
                        </div>
                    </div>
                    <p class="rating_text1">
                        We regularly appreciate our best 
                        performing providers via our leaderboard ranking system.
                    </p>
                    <p class="the_link">Go to Leaderboard <i class="fas fa-arrow-right"></i></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="con4 pt-4">
                    <p class="lilac fw-bold">Our Goal</p>
                    <p class="section_2_p4 fw-bolder">We are linking Clients to Service Providers</p>
                    <p class="rating_text2">
                        The scope the Social Media becomes crucial Is helps 
                        the business to directly engage with their needs and wants.
                    </p>
                    <button class="btn btn3">Find a service <i class="fas fa-arrow-right"></i> </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_3">
    <div class="container">
        <div class="text-center">
            <p class="lilac fw-bold mb-0">ServiceBoss App</p>
            <p class="how_works">How it works</p>
            <div class="">
                <p class="rating_text3">
                    The ServiceBoss app has amazing features that 
                    help ensure a seamless exprience for all our users
                </p>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-sm-12 col-md-6 ">
                <div class="left">
                    <div class="shadow-lg mb-5 p-3 bg-body rounded two_list">
                        <div class="row">
                            <div class="col-2">
                                <img src="{% static 'landingPage/img/swipe.png' %}" class="swipe" alt="swipe">
                            </div>
                            <div class="col-10">
                                <p class="swipe_h">Swipe</p>
                                <p class="swipe_p">
                                    Clients can swipe right or 
                                    left on service providers on the marketplace.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="right">
                    <div class="shadow-lg mb-5 p-3 bg-body rounded two_list">
                        <div class="row">
                            <div class="col-2">
                                <img src="{% static 'landingPage/img/people.png' %}" class="people" alt="people">
                            </div>
                            <div class="col-10">
                                <p class="swipe_h">Portfolio</p>
                                <p class="swipe_p">
                                    Service Providers can create different 
                                    kinds of portfolio and list on the market.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="left">
                    <div class="shadow-lg mb-5 p-3 bg-body rounded two_list">
                        <div class="row">
                            <div class="col-2">
                                <img src="{% static 'landingPage/img/chat.png' %}" class="chat" alt="chat">
                            </div>
                            <div class="col-10">
                                <p class="swipe_h">Chat</p>
                                <p class="swipe_p">
                                    Clients can connect with service providers to address their issues. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="right">
                    <div class="shadow-lg mb-5 p-3 bg-body rounded two_list">
                        <div class="row">
                            <div class="col-2">
                                <img src="{% static 'landingPage/img/diagonal.png' %}" class="diagonal" alt="diagonal">
                            </div>
                            <div class="col-10">
                                <p class="swipe_h">Secure Escrow</p>
                                <p class="swipe_p">
                                    Clients and Service Providers are kept 
                                    safe with our secure secrow service
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="left">
                    <div class="shadow-lg mb-5 p-3 bg-body rounded two_list">
                        <div class="row">
                            <div class="col-2">
                                <img src="{% static 'landingPage/img/todo.png' %}" class="todo" alt="todo">
                            </div>
                            <div class="col-10">
                                <p class="swipe_h">Approvals</p>
                                <p class="swipe_p">
                                    Clients can approve the work of Service Providers and Escrow funds are released.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="right">
                    <div class="shadow-lg mb-5 p-3 bg-body rounded two_list">
                        <div class="row">
                            <div class="col-2">
                                <img src="{% static 'landingPage/img/proposal.png' %}" class="proposal" alt="proposal">
                            </div>
                            <div class="col-10">
                                <p class="swipe_h">Proposals</p>
                                <p class="swipe_p">
                                    Providers can send proposals to matched clients on costs of work for acceptance.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_4">
    <div class="container">
        <div class="text-center mt-5">
            <p class="lilac fw-bold mb-0">Valuable Team</p>
            <p class="how_works">Top Providers</p>
            <div class="">
                <p class="rating_text4">
                    These are some of the best performing providers on our platform
                </p>
                <div >
                    <div class="mb-3 bg_lilac">
                        <div class="line_pill">Newest</div>
                        <div class="line_pill">Popular</div>
                        <div class="line_pill active_cn">Active</div>
                      </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row mt-5">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="text-center p-3">
                        <div class="provider">
                            <div class="p_check position-relative">
                                <img src="{% static 'landingPage/img/7.png' %}" class="seven" alt="seven">
                                <div class="position-absolute top-100 start-50 translate-middle">
                                    <i class="fas fa-check"></i>
                                </div>
                            </div>
                            <div class="provider_text">
                                <h4>Fahim Rahman</h4>
                                <p>@rahman</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="text-center p-3">
                        <div class="provider">
                            <div class="p_check position-relative">
                                <img src="{% static 'landingPage/img/8.png' %}" class="eight" alt="eight">
                                <div class="position-absolute top-100 start-50 translate-middle">
                                    <i class="fas fa-check"></i>
                                </div>
                            </div>
                            <div class="provider_text">
                                <h4>Kazi Rahman</h4>
                                <p>@Rahman</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="text-center p-3">
                        <div class="provider">
                            <div class="p_check position-relative">
                                <img src="{% static 'landingPage/img/9.png' %}" class="nine" alt="nine">
                                <div class="position-absolute top-100 start-50 translate-middle">
                                    <i class="fas fa-check"></i>
                                </div>
                            </div>
                            <div class="provider_text">
                                <h4>Masterero Ali</h4>
                                <p>@Master</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="text-center p-3">
                        <div class="provider">
                            <div class="p_check position-relative">
                                <img src="{% static 'landingPage/img/10.png' %}" class="ten" alt="ten">
                                <div class="position-absolute top-100 start-50 translate-middle">
                                    <i class="fas fa-check"></i>
                                </div>
                            </div>
                            <div class="provider_text">
                                <h4>Alia Karon</h4>
                                <p>@Alia</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_5">
    <div class="container border">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="section_5_div">
                    <p class="lilac fw-bold section_5_p">Join ServiceBoss Today</p>
                    <p class="section_5_p2">You Can Easily Find This App…!</p>
                    <p class="section_5_p3">
                        Download the app to find work as a service 
                        provider or get help as a Client looking for service.
                    </p>
                    <div class="app_img">
                        <a href="#">
                            <img src="{% static 'landingPage/img/android.png' %}" class="android" alt="android">
                        </a>
                        <a href="#">
                            <img src="{% static 'landingPage/img/apple.png' %}" class="apple" alt="apple">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{% static 'landingPage/img/form.png' %}" class="img-fluid form_img"
                    alt="form img">
            </div>
        </div>
    </div>
</div>
<div class="section_6">
    <div class="container">
        <div class="text-center mt-5 mb-5">
            <p class="lilac fw-bold mb-0">Stay Updated</p>
            <p class="how_works">Posts from our Blog</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <div class="mb-5">
                    <img src="{% static 'landingPage/img/11.png' %}" class="img-fluid img_blog"
                        alt="img_blog">
                    <div class="row">
                        <div class="col-2">
                            <p class="the_line"></p>
                        </div>
                        <div class="col-10">
                            <p class="blog_text">How to structure your proposal to get clients</p>
                            <p class="lilac">Continue Reading <i class="fas fa-arrow-right"></i> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="mb-5">
                    <img src="{% static 'landingPage/img/12.png' %}" class="img-fluid img_blog"
                        alt="img_blog">
                    <div class="row">
                        <div class="col-2">
                            <p class="the_line"></p>
                        </div>
                        <div class="col-10">
                            <p class="blog_text">What to look for in a Provider's profile</p>
                            <p class="lilac">Continue Reading <i class="fas fa-arrow-right"></i> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div>
                    <img src="{% static 'landingPage/img/13.png' %}" class="img-fluid img_blog"
                        alt="img_blog">
                    <div class="row">
                        <div class="col-2">
                            <p class="the_line"></p>
                        </div>
                        <div class="col-10">
                            <p class="blog_text">Why you should not agree to payment off ServiceBoss</p>
                            <p class="lilac">Continue Reading <i class="fas fa-arrow-right"></i> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}